/*----------------------------------------------
    # content style
----------------------------------------------*/
.single-counter-inner {
  @apply mb-[30px];
  .thumb {
    img {
      @apply transition-all duration-[0.4s] ease-[ease];
    }
  }
  &:hover {
    .thumb {
      img {
        transform: rotateY(180deg);
      }
    }
  }
  &.style-2 {
    @apply rounded-[5px] border border-solid border-[rgba(255,255,255,0.1)] p-[30px];

    p {
      @apply mb-0;
    }
  }
}

.single-contact-list {
  @apply mb-[30px] rounded-[5px] border border-solid border-[rgba(66,74,97,0.1)] bg-white p-[50px] shadow-[0px_3px_20px_rgba(0,33,71,0.06)] transition-all duration-[0.4s] ease-[ease];
  .media-left {
    @apply mr-[15px];
  }
  .media-body {
    @apply -mt-0.5;

    h5 {
      @apply mb-1.5;
    }
    h6 {
      @apply mb-0;
    }
  }
  &:hover {
    box-shadow: 0px 10px 30px rgba(0, 33, 71, 0.08);
  }
}

.client-slider {
  .item {
    @apply inline-flex items-center justify-center self-center;
  }
  .thumb {
    @apply flex items-center self-center text-center;
    img {
      @apply w-auto;
      filter: brightness(0.15) invert(1);
    }
  }
  .owl-nav {
    @apply hidden;
  }
}
.client-border-radius {
  @apply rounded-[15px_15px_0_0];
}

.saller-area-inner {
  @apply -mx-2.5 my-0 ps-0;
  li {
    @apply inline-flex w-[18.2%] list-none;
  }
}
.single-saller-inner {
  @apply m-2.5 rounded-[10px] border border-solid border-[#E3E3E3] p-5;
}

.inovating-tab {
  .nav-tabs {
    border: 0 !important;
    @apply inline-flex;

    button {
      @apply mb-2 mr-2 bg-[rgba(255,255,255,0.1)] px-7 pb-[11px] pt-2.5 shadow-[0px_10px_60px_rgba(0,0,0,0.07)];
      border-radius: 60px !important;
      border: 0 !important;
      color: #fff !important;

      &.active {
        @apply bg-main-color !important;
      }
    }
  }
}

.single-case-study-inner {
  &.style-4 {
    .details {
      @apply invisible absolute bottom-5 left-0 right-0 m-[25px] rounded-[5px] opacity-0 transition-all duration-[0.4s] ease-[ease];
      .right-arrow {
        @apply rounded-[5px_0_5px_0] bg-main-color text-white;
      }
    }
    &:hover {
      .details {
        @apply visible bottom-0 opacity-100;
      }
    }
  }
}

.border-radius-30 {
  @apply rounded-[30px];
}
.fw-400 {
  @apply font-normal;
}

.single-testimonial-inner {
  &.style-4 {
    @apply relative mt-[90px] border-2 border-solid border-[#263E6B] bg-transparent p-[30px];
    .thumb {
      @apply mb-[15px] mt-[-120px];

      img {
        @apply rounded-[70px];
      }
    }
    .icon {
      @apply absolute bottom-[30px] right-5;
    }
    p {
      @apply text-[15px];
    }
  }
}
