/*--------------------------------------------------
    ##Footer style
---------------------------------------------------*/
.footer-area {
  @apply relative;
  padding-top: 90px;
  &:after {
    content: "";
    @apply absolute left-0 top-0 z-[-1] h-full w-full bg-heading-color;
  }
  .widget {
    @apply relative z-[2];
    margin-bottom: 70px;
  }
  .widget-title {
    margin-bottom: 30px;
    @apply relative;
  }
  .widget_about {
    .thumb {
      margin-bottom: 20px;
      img {
        @apply max-w-[150px];
      }
    }
    .details {
      p {
        margin-bottom: 0;
        @apply text-white;
        svg {
          color: #fff;
          margin-right: 10px;
        }
        + p {
          font-weight: 500;
        }
      }
      .social-media {
        margin-top: 26px;
        li {
          a:hover {
            @apply bg-main-color text-white;
          }
        }
      }
    }
    .subscribe {
      @apply relative;
      input {
        @apply h-[44px] w-full rounded-[5px] border-[1px] border-[#E3E3E3] pl-[15px] pr-[50px] shadow-none outline-0;
      }
      button {
        @apply absolute right-0 top-0 h-[44px] w-[40px] rounded-br-[5px] rounded-tr-[5px] border-0 bg-main-color text-[15px] text-white transition-all duration-[0.4s] ease-[ease];
        &:hover {
          @apply bg-heading-color;
        }
      }
    }
  }
  .widget_nav_menu {
    ul {
      @apply m-0 p-0;
      li {
        @apply relative mb-[7px] list-none text-white;
        svg {
          margin-right: 8px;
          color: #333f4d;
          @apply transition-all duration-[0.4s] ease-[ease];
        }
        &:hover {
          svg {
            @apply text-main-color;
          }
        }
      }
    }
  }
  .widget_subscribe {
    .single-input-inner {
      @apply relative;
      input {
        @apply pr-[40px];
      }
    }
    button {
      @apply absolute right-[15px] top-[10px] border-0 bg-transparent p-0 text-main-color;
    }
    label {
      @apply relative pl-[22px] text-white;
      input {
        @apply absolute left-0 top-[7px];
      }
    }
  }
  .widget-recent-post ul li .media .media-body .title {
    @apply text-white;
  }
  .widget-recent-post ul li .media .media-body .post-info span {
    @apply text-white;
  }
}

.footer-top {
  @apply pb-[90px] pt-[55px];
}
.footer-bottom {
  @apply relative z-[2] border-t border-[#E3E3E3] pb-[23px] pt-[23px];
  p {
    margin-bottom: 0;
    @apply text-white;
  }
  a {
    @apply mr-[10px] text-white;
    &:last-child {
      @apply mr-0;
    }
  }
}

.footer-subscribe {
  @apply translate-y-[-90px];
  .footer-subscribe-inner {
    @apply relative rounded-[10px] bg-[url('../images/bg/6.png')] bg-cover p-[40px];
    h2 {
      @apply text-white;
    }
    input {
      @apply h-[55px] w-full border-0 pl-[20px] pr-[150px] text-heading-color;
    }
    .btn {
      @apply absolute right-[30px];
    }
    &.style-2 {
      @apply mt-[-90px] flex rounded-none text-center;
      .media {
        @apply w-[340px] p-[30px];
      }
      p {
        @apply text-[13px];
      }
      input {
        @apply pl-[18px];
      }
      .btn {
        @apply relative right-auto;
      }
      .row {
        @apply p-[20px] p-[30px];
      }
    }
    &.style-3 {
      @apply rounded-[10px] border-2 border-[#FFFCFF33];
      background-image: none !important;
      background-color: #160443 !important;
      input {
        @apply h-[67px] rounded-[45px] border-[1px] border-[#423467] bg-transparent text-white;
      }
      .btn {
        @apply right-[45px] mt-[6px] rounded-[60px];
      }
    }
  }
}

.footer-area-2 {
  .widget-title {
    @apply text-heading-color !important;
  }
  p {
    @apply text-heading-color !important;
  }
  a {
    @apply text-paragraph-color !important;
    svg {
      @apply text-paragraph-color !important;
    }
    &:hover {
      @apply text-main-color !important;
    }
  }
  .widget_about {
    @apply bg-white p-[25px];
  }
  .footer-bottom {
    @apply border-t border-[#E3E3E3];
  }
}
