.faq-area-margin-top {
  @apply mt-[-120px];
}

.faq-area {
  @apply bg-cover;
  background-image: url("../images/bg/3.png");
}

.counter-area {
  @apply bg-cover;
  background-image: url("../images/bg/5.png");
}

.case-study-area {
  .animate-img-1 {
    @apply absolute bottom-[130px] left-[90px] w-[50px];
  }
}

.contact-inner-1 {
  @apply relative z-[2] mt-[-120px];
  .animate-img-1 {
    @apply absolute bottom-[-30px] left-[-30px] z-[-1];
  }
  .animate-img-2 {
    @apply absolute bottom-[-30px] right-[-30px];
  }
  .section-title {
    @apply ml-[-190px] mt-[50px] rounded-[5px] bg-white p-[50px] shadow-[0px_3px_20px_rgba(0,33,71,0.06)];
    .title {
      @apply text-[35px];
    }
  }
}

.contact-page-list {
  @apply relative mb-[-110px];
}

.contact-page-inner {
  @apply rounded-[10px] p-[100px];
}

.contact-g-map {
  @apply mb-[-100px];
  iframe {
    @apply h-[550px] w-full;
  }
}

.career-wrap-area {
  @apply rounded-[5px] bg-[#F8F9FC];
}

.career-nav-tab {
  border-bottom: 1px solid #ebebeb !important;
  button {
    border: 0 !important;
    border-right: 1px solid #ebebeb !important;
    background: transparent !important;
    @apply w-1/4 px-[6px] py-[15px] font-semibold text-heading-color;
    &:last-child {
      border-right: 0 !important;
    }
    &.active {
      @apply text-main-color !important;
    }
  }
}

.career-wrap {
  @apply p-[60px];
}

.project-nav-tab {
  border-bottom: 0 !important;
  @apply rounded-[5px] bg-[#F8F9FC] p-[5px_15px];
  button {
    border: 0 !important;
    background: transparent !important;
    @apply px-[15px] py-[5px] font-semibold text-heading-color;
    &:last-child {
      border-right: 0 !important;
    }
    &.active {
      @apply text-heading-color !important;
    }
  }
  &.style-2 {
    @apply rounded-none bg-transparent p-0;
    button {
      @apply mx-[4px] h-[60px] rounded-[4px] border border-[#E3E3E3] bg-[#FFFFFF] px-[35px] !important;
      &.active {
        @apply border-solid border-main-color bg-main-color !important;
      }
    }
  }
}

.counter-4-area {
  @apply relative;
  .counter-4-title {
    background: rgba(255, 255, 255, 0.1);
    @apply inline-block min-w-[200px] p-[35px_40px] text-white;
  }
}

.about-area-margin-bottom {
  @apply relative z-[2] mb-[-120px];
}

.navbar-area-4 {
  @apply relative z-[2] bg-white pl-[328px];
  .left-bg {
    content: "";
    @apply absolute left-0 top-0 h-full bg-no-repeat;
    background-size: 38.4%;
  }
  .logo {
    @apply relative z-[2];
  }
  .navbar-top {
    @apply relative;
    &:after {
      content: "";
      @apply absolute left-[-20%] top-0 z-[-1] h-full w-[120%] bg-[#F8F9FC];
    }
    ul {
      li {
        color: #010d14;
      }
    }
  }
}

.solution-area-style {
  @apply mb-[-150px];
}

.creator-slider {
  .owl-nav {
    @apply hidden;
  }
}

.single-creator-inner {
  @apply mb-[30px] rounded-[10px] border-b border-[#E3E3E3] bg-[#F8F9FC] p-[30px];
  .thumb {
    @apply overflow-hidden rounded-[10px];
    img {
      @apply transition-all duration-[0.7s] ease-[ease];
    }
  }
  .details {
    @apply relative;
    .social-media {
      @apply invisible absolute left-[50%] top-0 translate-x-[-50%] opacity-0 transition-all duration-[0.4s] ease-[ease];
      li {
        a {
          @apply bg-gradient-to-r from-[#2600FC] to-[#FF00EA];
        }
      }
    }
    @apply pt-[25px];
  }
  &:hover {
    @apply border-b border-solid border-b-main-color;
    .thumb {
      img {
        @apply scale-[1.1];
      }
    }
    .details {
      .social-media {
        @apply visible top-[-16px] opacity-100;
      }
    }
  }
  &.style-2 {
    @apply border-b-0 bg-[#19164A];
    .details .social-media {
      @apply top-[-47px];
    }
  }
}

.roadmap-line {
  @apply relative;
  &:after {
    content: "";
    @apply absolute left-0 top-[17px] z-0 h-[4px] w-full border-t border-dashed border-white;
  }
  &:before {
    content: "";
    @apply absolute bottom-0 left-0 z-0 h-[80%] w-full bg-[#160443];
  }
  .single-service-inner {
    @apply relative z-[2] mb-[20px] p-[60px] pb-0 pt-0;
  }
}

.single-progress-inner {
  .progress {
    @apply h-[12px] rounded-[30px] bg-[#333F4D];
    .progress-bar {
      @apply rounded-[30px];
    }
  }
}

.pie-chart {
  @apply relative m-0 inline-block min-h-[520px] w-[520px] !important;
  background: radial-gradient(
      circle closest-side,
      #050231 0,
      #050231 43.68%,
      transparent 43.68%,
      transparent 84%,
      #050231 0
    ),
    conic-gradient(
      from 42deg,
      #00d199 0,
      #00d199 49.4%,
      #c87b07 0,
      #c87b07 79.3%,
      #a92535 0,
      #a92535 100%
    );
}
