/*------------------------------------------------
    ## Section title
------------------------------------------------*/
.section-title {
  @apply relative mb-[50px];

  .sub-title {
    @apply relative mb-[15px] inline-block rounded-[30px] bg-white p-[8px_20px] text-[14px] font-medium tracking-[1px];
    box-shadow: 0 4.4px 30px rgba(19, 16, 34, 0.1);

    &.line-after {
      @apply pb-0 pt-0;
      &:after {
        content: "";
        @apply absolute right-[-55px] top-[8px] h-[2px] w-[40px] bg-white;
      }
    }

    &.line-double {
      @apply ml-[-55px] pb-0 pl-[55px] pt-0;
      &:before {
        content: "";
        @apply absolute left-0 top-[8px] h-[2px] w-[40px] bg-white;
      }
      &:after {
        content: "";
        @apply absolute right-[-55px] top-[8px] h-[2px] w-[40px] bg-white;
      }
    }
  }

  .title {
    @apply mb-0 ml-0;
    span {
      @apply text-main-color;
    }
  }

  .content {
    @apply mb-0 mt-[17px];
  }

  .small-title {
    @apply mt-[18px] font-semibold text-heading-color;
  }

  .phone {
    @apply mt-[30px] font-normal;
    img {
      @apply mr-[6px];
    }
  }

  .single-list-wrap {
    @apply mt-[21px];
  }

  .btn {
    @apply mt-[30px];
  }

  &.style-white {
    .sub-title {
      @apply text-main-color;

      &.left-line {
        &:before {
          @apply bg-white;
        }
      }

      &.right-line {
        &:after {
          @apply bg-white;
        }
      }

      &.double-line {
        &:before {
          @apply bg-white;
        }
        &:after {
          @apply bg-white;
        }
      }
    }

    .title {
      @apply text-white;
    }

    .content {
      @apply text-white;
    }

    .small-title {
      @apply text-white;
    }
  }
}
