.single-testimonial-inner {
  @apply m-[10px] bg-white p-[40px_30px] shadow-[0px_3px_20px_rgba(0,_33,_71,_0.06)];

  .designation {
    @apply font-semibold;
  }

  .icon {
    @apply inline-block;
  }

  &.style-1 {
    @apply relative mb-[120px];

    &:after {
      @apply absolute bottom-[-9px] left-[50%] -ml-[10px] h-[20px] w-[20px] rotate-[-45deg] bg-white content-[''];
    }

    .thumb {
      @apply absolute bottom-[-105px] left-[50%] h-[80px] w-[80px] -translate-x-[50%] rounded-full bg-white p-[8px] shadow-[0px_3px_20px_rgba(0,_33,_71,_0.06)];

      img {
        @apply rounded-full;
      }
    }
  }

  &.style-2 {
    .icon {
      @apply relative h-[50px] w-[50px] rounded-full border-[2px] border-solid border-[rgba(36,_107,_253,_0.1)] p-[5px] text-center;

      &:after {
        @apply absolute left-[3px] top-[3px] z-0 h-[40px] w-[40px] rounded-full bg-main-color content-[''];
      }

      img {
        @apply relative z-[2] mx-auto w-auto pt-[9px] text-white;
        filter: brightness(10);
      }
    }

    .thumb {
      img {
        @apply w-auto rounded-full border border-solid border-main-color p-[5px];
      }
    }

    .ratting-inner {
      @apply text-[15px];

      svg {
        @apply text-[13px];
      }
    }
  }

  &.style-3 {
    @apply bg-transparent p-0 shadow-none;

    img {
      @apply w-auto;
    }

    .thumb {
      @apply relative pr-[50px];

      .shadow-img {
        @apply rounded-[8px] bg-white p-[35px_20px];
      }

      .main-img {
        @apply absolute right-0 top-[50%] w-[130px] translate-y-[-50%] rounded-[8px];
      }
    }

    .details {
      @apply relative p-[10px];

      .quote {
        @apply absolute left-0 top-0;
      }

      .designation {
        @apply text-[15px] font-normal;
      }

      h6 {
        @apply text-main-color;
      }

      .ratting-inner {
        @apply text-[10px];
      }
    }
  }
}

.testimonial-slider-2 {
  .owl-nav {
    @apply hidden;
  }
}

.testimonial-tab {
  @apply border-0 !important;

  button {
    @apply h-[140px] w-[140px] rounded-[50%] p-0 p-[30px] transition-all duration-[0.4s] ease-[ease];
    border-width: 0px !important;

    img {
      @apply w-full transition-all duration-[0.4s] ease-[ease];
    }

    &:hover {
      border-width: 0px !important;
    }

    &.active {
      @apply rounded-[50%] border-[2px] border-dashed border-main-color p-[12px];
      border-width: 2px !important;
    }
  }
}
