:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, #ffffff26, #fff0);
}
*,
:after,
:before {
  @apply box-border;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    @apply scroll-smooth;
  }
}
body {
  @apply m-0 bg-white font-sans text-base font-normal leading-normal text-[#212529];
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
hr {
  @apply my-4 border-0 bg-current text-inherit opacity-25;
}
hr:not([size]) {
  @apply h-px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 mt-0 font-medium leading-tight;
}

.h1,
h1 {
  @apply text-[calc(1.375rem_+_1.5vw)];
}
@media (min-width: 1200px) {
  .h1,
  h1 {
    @apply text-[2.5rem];
  }
}
.h2,
h2 {
  @apply text-[calc(1.325rem_+_0.9vw)];
}
@media (min-width: 1200px) {
  .h2,
  h2 {
    @apply text-[2rem];
  }
}
.h3,
h3 {
  @apply text-[calc(1.3rem_+_0.6vw)];
}
@media (min-width: 1200px) {
  .h3,
  h3 {
    @apply text-[1.75rem];
  }
}
.h4,
h4 {
  @apply text-[calc(1.275rem_+_0.3vw)];
}
@media (min-width: 1200px) {
  .h4,
  h4 {
    @apply text-2xl;
  }
}
.h5,
h5 {
  @apply text-xl;
}
.h6,
h6 {
  @apply text-base;
}
p {
  @apply mt-0;
}
address,
p {
  @apply mb-4;
}
address {
  @apply font-normal leading-[inherit];
}
ol,
ul {
  @apply mb-4 mt-0 pl-8;
}
ol ol,
ol ul,
ul ol,
ul ul {
  @apply mb-0;
}
dt {
  @apply font-bold;
}
blockquote {
  @apply m-0 mb-4;
}
b,
strong {
  @apply font-black;
}
.small,
small {
  @apply text-sm;
}
sub,
sup {
  @apply relative align-baseline text-xs leading-[0];
}
sub {
  @apply bottom-[-0.25em];
}
sup {
  @apply top-[-0.5em];
}
a {
  @apply text-[#0d6efd] underline;
}
a:hover {
  @apply text-[#0a58ca];
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  @apply text-inherit no-underline;
}
code,
pre {
  @apply font-mono text-base;
  direction: ltr;
  unicode-bidi: bidi-override;
}
pre {
  @apply mb-4 mt-0 block overflow-auto text-sm;
}
pre code {
  @apply break-normal text-inherit;
}
code {
  @apply break-words text-sm text-[#d63384];
}
a > code {
  @apply text-inherit;
}
figure {
  @apply m-0 mb-4;
}
img,
svg {
  @apply inline-block align-middle;
}
table {
  @apply caption-bottom border-collapse;
}
th {
  @apply border-0 border-inherit text-inherit;
  text-align: -webkit-match-parent;
}
button {
  @apply rounded-none;
}
button:focus:not(:focus-visible) {
  @apply outline-none;
}
button,
input,
select,
textarea {
  @apply m-0 font-inherit leading-[inherit] text-inherit;
}
button,
select {
  @apply normal-case;
}
[role="button"] {
  @apply cursor-pointer;
}
select {
  @apply break-normal;
}
select:disabled {
  @apply opacity-100;
}
[list]::-webkit-calendar-picker-indicator {
  @apply hidden;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  @apply cursor-pointer;
}
::-moz-focus-inner {
  @apply border-none p-0;
}
textarea {
  @apply resize-y;
}
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
  @apply p-0;
}
::-webkit-inner-spin-button {
  @apply h-auto;
}
[type="search"] {
  @apply -outline-offset-2;
  -webkit-appearance: textfield;
  appearance: textfield;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  @apply p-0;
}
::file-selector-button {
  font: inherit;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
output {
  @apply inline-block;
}
iframe {
  @apply border-0;
}
progress {
  vertical-align: initial;
}
[hidden] {
  @apply hidden;
}
.blockquote {
  @apply mb-4 text-xl;
}
.blockquote > :last-child {
  @apply mb-0;
}
.figure {
  @apply inline-block;
}
.container,
.container-fluid {
  @apply mx-auto w-full pl-[var(--bs-gutter-x,0.75rem)] pr-[var(--bs-gutter-x,0.75rem)];
}
@media (min-width: 576px) {
  .container {
    @apply max-w-[540px];
  }
}
@media (min-width: 768px) {
  .container {
    @apply max-w-[720px];
  }
}
@media (min-width: 992px) {
  .container {
    @apply max-w-[960px];
  }
}
@media (min-width: 1200px) {
  .container {
    @apply max-w-[1140px];
  }
}
@media (min-width: 1400px) {
  .container {
    @apply max-w-[1320px];
  }
}
.row {
  @apply ml-[calc(var(--bs-gutter-x)_*_-0.5)] mr-[calc(var(--bs-gutter-x)_*_-0.5)] mt-[calc(var(--bs-gutter-y)_*_-1)] flex flex-wrap;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}
.row > * {
  @apply mt-[var(--bs-gutter-y)] w-full max-w-full shrink-0 pl-[calc(var(--bs-gutter-x)_*_0.5)] pr-[calc(var(--bs-gutter-x)_*_0.5)];
}

.col {
  @apply flex-[1_0_0%];
}
.col-3 {
  @apply w-3/12 flex-[0_0_auto];
}
.col-6 {
  @apply w-6/12 flex-[0_0_auto];
}
.col-7 {
  @apply w-[58.33333333%] flex-[0_0_auto];
}
.col-9 {
  @apply w-9/12 flex-[0_0_auto];
}
.col-12 {
  @apply w-full flex-[0_0_auto];
}
.g-0 {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.g-2 {
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0.5rem;
}
@media (min-width: 576px) {
  .col-sm-4 {
    @apply w-[33.33333333%] flex-[0_0_auto];
  }
  .col-sm-5 {
    @apply w-[41.66666667%] flex-[0_0_auto];
  }
  .col-sm-6 {
    @apply w-6/12 flex-[0_0_auto];
  }
  .col-sm-7 {
    @apply w-[58.33333333%] flex-[0_0_auto];
  }
  .col-sm-8 {
    @apply w-[66.66666667%] flex-[0_0_auto];
  }
}
@media (min-width: 768px) {
  .col-md-3 {
    @apply w-3/12 flex-[0_0_auto];
  }
  .col-md-4 {
    @apply w-[33.33333333%] flex-[0_0_auto];
  }
  .col-md-5 {
    @apply w-[41.66666667%] flex-[0_0_auto];
  }
  .col-md-7 {
    @apply w-[58.33333333%] flex-[0_0_auto];
  }
  .col-md-8 {
    @apply w-[66.66666667%] flex-[0_0_auto];
  }
  .col-md-9 {
    @apply w-9/12 flex-[0_0_auto];
  }
  .col-md-10 {
    @apply w-[83.33333333%] flex-[0_0_auto];
  }
  .col-md-12 {
    @apply w-full flex-[0_0_auto];
  }
  .gx-md-0 {
    --bs-gutter-x: 0;
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    @apply w-3/12 flex-[0_0_auto];
  }
  .col-lg-4 {
    @apply w-[33.33333333%] flex-[0_0_auto];
  }
  .col-lg-5 {
    @apply w-[41.66666667%] flex-[0_0_auto];
  }
  .col-lg-6 {
    @apply w-6/12 flex-[0_0_auto];
  }
  .col-lg-7 {
    @apply w-[58.33333333%] flex-[0_0_auto];
  }
  .col-lg-8 {
    @apply w-[66.66666667%] flex-[0_0_auto];
  }
  .col-lg-9 {
    @apply w-9/12 flex-[0_0_auto];
  }
  .col-lg-10 {
    @apply w-[83.33333333%] flex-[0_0_auto];
  }
  .col-lg-12 {
    @apply w-full flex-[0_0_auto];
  }
  .offset-lg-1 {
    @apply ml-[8.33333333%];
  }
  .offset-lg-4 {
    @apply ml-[33.33333333%];
  }
}
@media (min-width: 1200px) {
  .col-xl-3 {
    @apply w-3/12 flex-[0_0_auto];
  }
  .col-xl-4 {
    @apply w-[33.33333333%] flex-[0_0_auto];
  }
  .col-xl-5 {
    @apply w-[41.66666667%] flex-[0_0_auto];
  }
  .col-xl-6 {
    @apply w-6/12 flex-[0_0_auto];
  }
  .col-xl-7 {
    @apply w-[58.33333333%] flex-[0_0_auto];
  }
  .col-xl-8 {
    @apply w-[66.66666667%] flex-[0_0_auto];
  }
  .col-xl-11 {
    @apply w-[91.66666667%] flex-[0_0_auto];
  }
  .offset-xl-1 {
    @apply ml-[8.33333333%];
  }
  .offset-xl-2 {
    @apply ml-[16.66666667%];
  }
  .offset-xl-5 {
    @apply ml-[41.66666667%];
  }
}
@media (min-width: 1400px) {
  .col-xxl-6 {
    @apply w-6/12 flex-[0_0_auto];
  }
}
.table {
  @apply mb-4 w-full border-[#dee2e6] align-top text-[#212529];
  --bs-table-bg: #0000;
  --bs-table-accent-bg: #0000;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: #0000000d;
  --bs-table-active-color: #212529;
  --bs-table-active-bg: #0000001a;
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
}
.table > :not(caption) > * > * {
  @apply border-b bg-[color:var(--bs-table-bg)] p-2 shadow-[inset_0_0_0_9999px_var(--bs-table-accent-bg)];
}
.table > :not(:last-child) > :last-child > * {
  @apply border-b-[initial];
}
.form-control {
  @apply block w-full appearance-none rounded border border-solid border-[#ced4da] bg-white bg-clip-padding px-3 py-1.5 text-base font-normal leading-[1.5] text-[#212529] file:pointer-events-none file:mb-[-0.375rem] file:ml-[-0.75rem] file:mr-[-0.75rem] file:mt-[-0.375rem] file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-[#e9ecef] file:px-3 file:py-1.5 file:text-[#212529] focus:border-[#86b7fe] focus:text-[#212529] focus:shadow-[0_0_0_0.25rem_#0d6efd40] disabled:bg-[#e9ecef] disabled:opacity-100 motion-reduce:transition-none motion-reduce:file:transition-none;
  -webkit-appearance: none;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.form-control[type="file"] {
  @apply overflow-hidden;
}
.form-control[type="file"]:not(:disabled):not([readonly]) {
  @apply cursor-pointer;
}
.form-control:focus {
  @apply bg-white outline-none;
}
.form-control::-webkit-date-and-time-value {
  @apply h-[1.5em];
}
.form-control::placeholder {
  @apply text-[#6c757d] opacity-100;
}
.form-control::file-selector-button {
  border-inline-end-width: 1px;
  margin-inline-end: 0.75rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  @apply bg-[#dde0e3];
}
.form-control::-webkit-file-upload-button {
  @apply pointer-events-none mb-[-0.375rem] ml-[-0.75rem] mr-[-0.75rem] mt-[-0.375rem] rounded-none border-0 border-solid border-inherit bg-[#e9ecef] px-3 py-1.5 text-[#212529] motion-reduce:transition-none;
  border-inline-end-width: 1px;
  margin-inline-end: 0.75rem;
  -webkit-transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  @apply bg-[#dde0e3];
}
textarea.form-control {
  @apply min-h-[calc(1.5em+0.75rem+2px)];
}

.btn {
  @apply inline-block cursor-pointer select-none rounded border border-solid border-[#0000] bg-[#0000] px-3 py-1.5 text-center align-middle text-base font-normal leading-[1.5] text-[#212529] no-underline hover:text-[#212529] focus:shadow-[0_0_0_0.25rem_#0d6efd40] motion-reduce:transition-none;
  -webkit-text-decoration: none;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -webkit-user-select: none;
}
.btn:focus {
  @apply outline-none;
}
.btn.disabled,
.btn:disabled {
  @apply pointer-events-none opacity-[0.65];
}
.fade {
  @apply transition-opacity duration-[0.15s] ease-linear motion-reduce:transition-none;
}
.fade:not(.show) {
  @apply opacity-0;
}
.collapse:not(.show) {
  @apply hidden;
}
.collapse {
  @apply visible;
}
.collapsing {
  @apply h-0 overflow-hidden transition-[height] duration-[0.35s] ease-[ease] motion-reduce:transition-none;
}
.dropdown,
.dropend,
.dropstart,
.dropup {
  @apply relative;
}
.dropdown-toggle {
  @apply whitespace-nowrap after:ml-[0.255em] after:border-x-[0.3em] after:border-b-0 after:border-t-[0.3em] after:border-solid after:border-x-[#0000];
}
.dropdown-toggle:after {
  @apply inline-block content-[""];
  vertical-align: 0.255em;
}
.dropdown-toggle:empty:after {
  @apply ms-0;
}
.dropdown-menu {
  @apply absolute z-[1000] m-0 hidden min-w-[10rem] list-none rounded border border-solid border-[#00000026] bg-white bg-clip-padding px-0 py-2 text-left text-base text-[#212529];
}
.dropup .dropdown-toggle:after {
  @apply ml-[0.255em] inline-block border-x-[0.3em] border-b-[0.3em] border-t-0 border-solid border-x-[#0000] content-[""];
  vertical-align: 0.255em;
}
.dropup .dropdown-toggle:empty:after {
  @apply ms-0;
}
.dropend .dropdown-toggle:after {
  @apply ml-[0.255em] inline-block border-y-[0.3em] border-l-[0.3em] border-r-0 border-solid border-y-[#0000] content-[""];
  vertical-align: 0.255em;
}
.dropend .dropdown-toggle:empty:after {
  @apply ms-0;
}
.dropend .dropdown-toggle:after {
  vertical-align: 0;
}
.dropstart .dropdown-toggle:after {
  @apply ml-[0.255em] inline-block hidden content-[""];
  vertical-align: 0.255em;
}
.dropstart .dropdown-toggle:before {
  @apply mr-[0.255em] inline-block border-y-[0.3em] border-r-[0.3em] border-solid border-y-[#0000] content-[""];
  vertical-align: 0.255em;
}
.dropstart .dropdown-toggle:empty:after {
  @apply ms-0;
}
.dropstart .dropdown-toggle:before {
  vertical-align: 0;
}
.dropdown-item {
  @apply clear-both block w-full whitespace-nowrap border-0 bg-[#0000] px-4 py-1 font-normal text-[#212529] no-underline;
  text-align: inherit;
  -webkit-text-decoration: none;
}
.dropdown-item:focus,
.dropdown-item:hover {
  @apply bg-[#e9ecef] text-[#1e2125];
}
.dropdown-item.active,
.dropdown-item:active {
  @apply bg-[#0d6efd] text-white no-underline;
  -webkit-text-decoration: none;
}
.dropdown-item.disabled,
.dropdown-item:disabled {
  @apply pointer-events-none bg-[#0000] text-[#adb5bd];
}
.dropdown-menu.show {
  @apply block;
}
.nav {
  @apply mb-0 flex list-none flex-wrap ps-0;
}
.nav-link {
  @apply block px-4 py-2 text-[#0d6efd] no-underline motion-reduce:transition-none;
  -webkit-text-decoration: none;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.nav-link:focus,
.nav-link:hover {
  @apply text-[#0a58ca];
}
.nav-link.disabled {
  @apply pointer-events-none cursor-default text-[#6c757d];
}
.nav-tabs {
  @apply border-b border-solid border-b-[#dee2e6];
}
.nav-tabs .nav-link {
  @apply -mb-px rounded-tl rounded-tr border border-solid border-[#0000];
  background: 0 0;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  @apply isolate border-[#e9ecef_#e9ecef_#dee2e6];
}
.nav-tabs .nav-link.disabled {
  @apply border-[#0000] bg-[#0000] text-[#6c757d];
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  @apply border-[#dee2e6_#dee2e6_#fff] bg-white text-[#495057];
}
.nav-tabs .dropdown-menu {
  @apply -mt-px rounded-t-none;
}
.tab-content > .tab-pane {
  @apply hidden;
}
.tab-content > .active {
  @apply block;
}
.navbar {
  @apply relative flex-wrap py-2;
}

.navbar,
.navbar > .container,
.navbar > .container-fluid {
  @apply flex items-center justify-between;
}
.navbar > .container,
.navbar > .container-fluid {
  flex-wrap: inherit;
}
.navbar-nav {
  @apply mb-0 flex list-none flex-col ps-0;
}
.navbar-nav .nav-link {
  @apply pe-0 ps-0;
}
.navbar-nav .dropdown-menu {
  @apply static;
}
.navbar-collapse {
  @apply grow basis-full items-center;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    @apply flex-nowrap justify-start;
  }
  .navbar-expand-lg .navbar-nav {
    @apply flex-row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    @apply absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    @apply px-2;
  }
  .navbar-expand-lg .navbar-collapse {
    @apply flex basis-auto;
  }
}
.accordion-button {
  @apply relative flex w-full items-center rounded-none border-0 bg-white px-[1.25rem] py-[1rem] text-start text-[1rem] text-[#212529];
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
  overflow-anchor: none;
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    @apply transition-none;
  }
}
.accordion-button:not(.collapsed) {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
  @apply bg-[#e7f1ff] text-[#0c63e4];
}
.accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%230c63e4%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708%22%2F%3E%3C%2Fsvg%3E");
  transform: rotate(-180deg);
}
.accordion-button:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23212529%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708%22%2F%3E%3C%2Fsvg%3E");
  @apply ml-auto h-5 w-5 shrink-0 bg-no-repeat transition-transform duration-[0.2s] ease-[ease-in-out] content-[""];
  background-size: 1.25rem;
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button:after {
    @apply transition-none;
  }
}
.accordion-button:hover {
  @apply z-[2];
}
.accordion-button:focus {
  @apply z-[3] outline-none;
}
.accordion-header {
  @apply mb-0;
}
.accordion-item {
  @apply border border-solid border-[rgba(0,0,0,0.125)] bg-white first-of-type:rounded-tl first-of-type:rounded-tr last-of-type:rounded-bl last-of-type:rounded-br;
}
.accordion-item:first-of-type .accordion-button {
  @apply rounded-tl-[calc(0.25rem_-_1px)] rounded-tr-[calc(0.25rem_-_1px)];
}
.accordion-item:not(:first-of-type) {
  @apply border-t-0;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  @apply rounded-bl-[calc(0.25rem_-_1px)] rounded-br-[calc(0.25rem_-_1px)];
}
.accordion-item:last-of-type .accordion-collapse {
  @apply rounded-bl rounded-br;
}
.accordion-body {
  @apply px-5 py-4;
}
.pagination {
  @apply flex list-none ps-0;
}
.alert {
  @apply relative mb-4 rounded border border-solid border-[#0000] p-4;
}
@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}
.progress {
  @apply h-4 rounded bg-[#e9ecef] text-xs;
}
.progress,
.progress-bar {
  @apply flex overflow-hidden;
}
.progress-bar {
  @apply flex-col justify-center whitespace-nowrap bg-[#0d6efd] text-center text-white transition-[width] duration-[0.6s] ease-[ease] motion-reduce:transition-none;
}
.list-group {
  @apply mb-0 flex flex-col rounded ps-0;
}
.list-group-item {
  @apply relative block border border-solid border-[rgba(0,0,0,0.125)] bg-white px-4 py-2 text-[#212529] no-underline first:rounded-t-[inherit] last:rounded-bl-[inherit] last:rounded-br-[inherit];
  -webkit-text-decoration: none;
}
.list-group-item.disabled,
.list-group-item:disabled {
  @apply pointer-events-none bg-white text-[#6c757d];
}
.list-group-item.active {
  @apply z-[2] border-[#0d6efd] bg-[#0d6efd] text-white;
}
.list-group-item + .list-group-item {
  @apply border-t-0;
}
.list-group-item + .list-group-item.active {
  @apply -mt-px border-t;
}
.toast {
  @apply pointer-events-auto w-[350px] max-w-full rounded border border-solid border-[#0000001a] bg-[#ffffffd9] bg-clip-padding text-sm shadow-[0_0.5rem_1rem_#00000026];
}
.toast:not(.showing):not(.show) {
  @apply opacity-0;
}
.modal,
.toast.hide {
  @apply hidden;
}
.modal {
  @apply fixed left-0 top-0 z-[1060] h-full w-full overflow-y-auto overflow-x-hidden outline-none;
}
.modal-dialog {
  @apply pointer-events-none relative m-2 w-auto;
}
.modal.fade .modal-dialog {
  @apply translate-y-[-50px] transition-transform duration-[0.3s] ease-[ease-out] motion-reduce:transition-none;
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  @apply scale-[1.02];
}
.modal-backdrop {
  @apply fixed left-0 top-0 z-[1040] h-screen w-screen bg-black;
}
.modal-backdrop.fade {
  @apply opacity-0;
}
.modal-backdrop.show {
  @apply opacity-50;
}
.modal-body {
  @apply relative flex-auto p-4;
}
@media (min-width: 576px) {
  .modal-dialog {
    @apply mx-auto my-7 max-w-[500px];
  }
}

.tooltip {
  @apply absolute z-[1080] m-0 block whitespace-normal break-normal text-start text-sm font-normal normal-case not-italic leading-[1.5] tracking-[normal] no-underline opacity-0;
  font-family: var(--bs-font-sans-serif);
  line-break: auto;
  -webkit-text-decoration: none;
  text-shadow: none;
  word-spacing: normal;
  word-wrap: break-word;
}
.tooltip.show {
  @apply opacity-90;
}
.tooltip .tooltip-arrow {
  @apply absolute block h-[0.4rem] w-[0.8rem] before:border-solid before:border-[#0000];
}
.tooltip .tooltip-arrow:before {
  @apply absolute content-[""];
}
.tooltip-inner {
  @apply max-w-[200px] rounded bg-black px-2 py-1 text-center text-white;
}
.popover {
  @apply absolute left-0 top-0 z-[1070] block max-w-[276px] whitespace-normal break-normal rounded-[0.3rem] border border-solid border-[#0003] bg-white bg-clip-padding text-left text-start text-sm font-normal normal-case not-italic leading-[1.5] tracking-[normal] no-underline;
  font-family: var(--bs-font-sans-serif);
  line-break: auto;
  -webkit-text-decoration: none;
  text-shadow: none;
  word-spacing: normal;
  word-wrap: break-word;
}
.popover .popover-arrow {
  @apply absolute block h-2 w-4;
}
.popover .popover-arrow:after,
.popover .popover-arrow:before {
  @apply absolute block border-solid border-[#0000] content-[""];
}
.popover-header {
  @apply mb-0 rounded-tl-[calc(0.3rem_-_1px)] rounded-tr-[calc(0.3rem_-_1px)] border-b border-solid border-b-[#0003] bg-[#f0f0f0] px-4 py-2 text-base;
}
.popover-header:empty {
  @apply hidden;
}
.popover-body {
  @apply p-4 text-[#212529];
}
.carousel {
  @apply relative;
}
.carousel.pointer-event {
  @apply touch-pan-y;
}
.carousel-item {
  @apply relative float-left mr-[-100%] hidden w-full transition-transform duration-[0.6s] ease-[ease-in-out];
  backface-visibility: hidden;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    @apply transition-none;
  }
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  @apply block;
}
.active.carousel-item-end,
.carousel-item-next:not(.carousel-item-start) {
  @apply translate-x-full;
}
.active.carousel-item-start,
.carousel-item-prev:not(.carousel-item-end) {
  @apply -translate-x-full;
}
.carousel-indicators {
  @apply absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0;
}
.carousel-indicators [data-bs-target] {
  @apply mx-[3px] h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-y-[#0000] bg-white bg-clip-padding p-0 indent-[-999px] opacity-50 transition-opacity duration-[0.6s] ease-[ease] motion-reduce:transition-none;
  box-sizing: initial;
}
.carousel-indicators .active {
  @apply opacity-100;
}

@keyframes spinner-border {
  to {
    transform: rotate(1turn);
  }
}
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

.offcanvas {
  @apply invisible fixed bottom-0 z-[1050] flex max-w-full flex-col bg-white bg-clip-padding outline-none transition-transform duration-[0.3s] ease-[ease-in-out] motion-reduce:transition-none;
}
.offcanvas.show {
  transform: none;
}
.ratio {
  @apply relative w-full;
}
.ratio:before {
  @apply block pt-[var(--bs-aspect-ratio)] content-[""];
}
.ratio > * {
  @apply absolute left-0 top-0 h-full w-full;
}
.fixed-top {
  @apply top-0;
}
.fixed-bottom,
.fixed-top {
  @apply fixed left-0 right-0 z-[1030];
}
.fixed-bottom {
  @apply bottom-0;
}
.sticky-top {
  @apply sticky top-0 z-[1020];
}

.d-inline-block {
  @apply inline-block !important;
}
.d-block {
  @apply block !important;
}
.d-inline-flex {
  @apply inline-flex !important;
}
.d-none {
  @apply hidden !important;
}
.position-relative {
  @apply relative !important;
}
.border-1 {
  @apply border !important;
}
.border-tt {
  @apply border-2 !important;
}
.w-100 {
  @apply w-full !important;
}
.justify-content-end {
  @apply justify-end !important;
}
.justify-content-center {
  @apply justify-center !important;
}
.align-items-center {
  @apply items-center !important;
}
.align-self-end {
  @apply self-end !important;
}
.fw-bold {
  @apply font-bold !important;
}
.text-start {
  @apply text-left !important;
}
.text-end {
  @apply text-right !important;
}

.text-uppercase {
  @apply uppercase !important;
}
.text-capitalize {
  @apply capitalize !important;
}

.bg-transparent {
  @apply bg-[#0000] !important;
}

@media (min-width: 576px) {
  .mt-sm-0 {
    @apply mt-0 !important;
  }
  .mt-sm-4 {
    @apply mt-6 !important;
  }
  .text-sm-end {
    @apply text-right !important;
  }
}
@media (min-width: 768px) {
  .m-md-4 {
    @apply m-6 !important;
  }
  .pb-md-0 {
    @apply pb-0 !important;
  }
  .text-md-end {
    @apply text-right !important;
  }
}
@media (min-width: 992px) {
  .d-lg-inline-block {
    @apply inline-block !important;
  }
  .d-lg-block {
    @apply block !important;
  }
  .d-lg-inline-flex {
    @apply inline-flex !important;
  }
  .d-lg-none {
    @apply hidden !important;
  }
  .order-lg-first {
    @apply -order-1 !important;
  }
  .order-lg-1 {
    @apply order-1 !important;
  }
  .order-lg-2 {
    @apply order-2 !important;
  }
  .order-lg-last {
    @apply order-6 !important;
  }
  .mt-lg-0 {
    @apply mt-0 !important;
  }
  .mt-lg-4 {
    @apply mt-6 !important;
  }
  .me-lg-2 {
    @apply mr-2 !important;
  }
  .mb-lg-4 {
    @apply mb-6 !important;
  }
  .ms-lg-0 {
    @apply ml-0 !important;
  }
  .pt-lg-0 {
    @apply pt-0 !important;
  }
  .pt-lg-3 {
    @apply pt-4 !important;
  }
  .ps-lg-0 {
    @apply pl-0 !important;
  }
  .ps-lg-4 {
    @apply pl-6 !important;
  }
  .ps-lg-5 {
    @apply pl-12 !important;
  }
  .text-lg-center {
    @apply text-center !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-inline-block {
    @apply inline-block !important;
  }
  .d-xl-flex {
    @apply flex !important;
  }
  .align-self-xl-center {
    @apply self-center !important;
  }
  .mt-xl-5 {
    @apply mt-12 !important;
  }
  .me-xl-4 {
    @apply mr-6 !important;
  }
  .me-xl-5 {
    @apply mr-12 !important;
  }
  .mb-xl-3 {
    @apply mb-4 !important;
  }
  .mb-xl-5 {
    @apply mb-12 !important;
  }
  .ms-xl-5 {
    @apply ml-12 !important;
  }
  .p-xl-4 {
    @apply p-6 !important;
  }
  .p-xl-5 {
    @apply p-12 !important;
  }
  .pt-xl-5 {
    @apply pt-12 !important;
  }
  .pe-xl-4 {
    @apply pr-6 !important;
  }
  .pe-xl-5 {
    @apply pr-12 !important;
  }
  .pb-xl-5 {
    @apply pb-12 !important;
  }
  .ps-xl-4 {
    @apply pl-6 !important;
  }
  .ps-xl-5 {
    @apply pl-12 !important;
  }
}
